<ion-view>
    <ion-content style="top:0px" overflow-scroll="false" delegate-handle="mainScroll" on-scroll="mainscrolling();">
        <div class="welcome-set">
            <div class="map-set">
                <h2 class="title-c">BBQ Planner</h2>
            </div>
            <p class="title-d">Gemakkelijker BBQ planner en krijgt gratis personalijke offerte </p>
        </div>

<div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>

    </ion-content>
</ion-view>
