<ion-view>
    <div class="bar has-tabs-top bar-header bar-dark">
        <h1 class="title">Zelf Combineren</h1>
    </div>
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item {{classa}}" ng-click="tabchange('text',1)">
                <span>Vless</span>
            </a>
            <a class="tab-item {{classb}}" ng-click="tabchange('photos',2)">
                <span>Vegetarisch</span>
            </a>
            <a class="tab-item {{classc}}" ng-click="tabchange('link',3)">
                <span>Vis</span>
            </a>
            <a class="tab-item {{classa}}" ng-click="tabchange('text',1)">
                <span>Specials</span>
            </a>
            <a class="tab-item {{classb}}" ng-click="tabchange('photos',2)">
                <span>Salades</span>
            </a>

        </div>
    </div>
    <ion-content class="has-tabs-top" overflow-scroll="false">
        <div class="list card" ng-repeat="product in products">
            <div class="item item-image" style="height: 200px;" > 
                <img href="#" ng-src="{{product.featured_src}}" >
            </div>
            <a class="item assertive" href="#">
                {{product.title}}
                <span class="item-note">{{product.price | currency:"€"}}  </span>
            </a>
        </div>
    </ion-content>
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Home" href="#/app/welcome" icon-on="ln-home balanced" icon-off="ln-home">
            </ion-content>
        </ion-tab>
        <ion-tab title="Pakketen" icon-on="ln-gift balanced" icon-off="ln-gift">
        </ion-tab>
        <ion-tab title="Zelf Combineren" href="#/app/drinken" icon-on="ln-tag balanced" icon-off="ln-tag">
            <!-- Tab 1 content -->
        </ion-tab>
        <ion-tab title="Winkelwagen" icon-on="ln-cart balanced" icon-off="ln-cart" badge="5">
            <!-- Tab 3 content -->
        </ion-tab>
    </ion-tabs>
</ion-view>
