<ion-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Over ons</h1>
    </div>
    <ion-content>
        <div class="logo">
            <img src="img/component/ideaal-catering-logo.png">
        </div>
        <div class="card">
            <div class="item item-divider">
                Ontstaan van IdeaalCatering
            </div>
            <div class="item item-text-wrap">
                <p>Het bedrijf IdeaalCatering B.V. is opgericht in 2013. De eigenaren hebben jarenlange ervaring in een gerenommeerde keurslagerij en besloten om dit uit te breiden op het gebied van totale catering.</p>
                <br>
                <p>In eerste instantie werd het idee opgevat om alleen barbecues te verzorgen, maar al snel bleek dat er een grote vraag is naar buffetten en relatiegeschenken. </p>
                <br>
                <p>In een korte tijd is IdeaalCatering uitgegroeid tot een landelijk opererende cateraar. Dat de klanten van IdeaalCatering vanuit het hele land bestellen heeft te maken met de toegankelijke website en eenvoudige bestelwijze.</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Onderscheiden
            </div>
            <div class="item item-text-wrap">
                <p>Waar veel bedrijven zich alleen richten op eigen kwaliteiten probeert IdeaalCatering te kijken naar de wens van de klant! Wij staan erop dat klanten goed en serieus geholpen worden, met oog voor de wereld om ons heen. Daarom houden we, waar dat kan, rekening met het milieu, de natuur, de dieren en uw wensen. Wij houden van eerlijke handel: boeren verdienen een eerlijke prijs voor hun producten. U bent die mening vast ook toegedaan; alleen zo kunt u blijven genieten van een (h)eerlijk stukje vlees. Met onze ervaring, enthousiasme en kennis willen wij u hierin graag overtuigen!</p>
                <br>
                <p>Sommige klanten vinden het waardevol om hun ervaring met IdeaalCatering te delen met anderen. Wij vragen hen dan om een referentie te schrijven, die wij op onze site vermelden met als doel om te proberen u vooraf al ons vertrouwen te geven. Mocht u een referentie over ons willen schrijven? Vul dan hier het contactformulier in.</p>
                <br>
                <p>Naast catering biedt IdeaalCatering de mogelijkheid om uw feest geheel naar eigen wens en stijl in te richten. U kunt hierbij denken aan themafeesten, bruiloften etc. Klik hier voor wat impressie foto’s</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Over ons
            </div>
            <div class="item item-text-wrap">
                <h2>Ideaal Catering B.V.</h2>
                <p>Rolafweg-Noord 53, 3411 BJ, Lopik</p>
                <p>06-83447674</p>
                <p>info@ideaalcatering.nl</p>
                <p>KvK : 58107363</p>
            </div>
        </div>
    </ion-content>
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Home" href="#" icon-on="ion-ios-home-outline balanced" icon-off="ion-ios-home-outline">
        </ion-tab>
        <ion-tab title="BBQ Planner" href="#/app/bbq-planner" icon-on="ion-clipboard balanced" icon-off="ion-clipboard">
        </ion-tab>
        <ion-tab title="Whatsapp" href="whatsapp://send?abid=+31627890665" icon-on="ion-social-whatsapp-outline balanced" icon-off="ion-social-whatsapp-outline">
            <!-- Tab 1 content -->
        </ion-tab>
        <ion-tab title="Winkelwagen" icon-on="ln-cart balanced" icon-off="ln-cart" badge="6">
            <!-- Tab 3 content -->
        </ion-tab>
    </ion-tabs>
</ion-view>
