<ion-view>
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Home" href="#/app/welcome" icon-on="ln-home balanced" icon-off="ln-home">
            <ion-content style="top:0px" overflow-scroll="false" delegate-handle="mainScroll" on-scroll="mainscrolling();">
                <div class="welcome-set">
                    <div class="map-set">
                        <h2 class="title-c">Welkom!</h2>
                    </div>
                    <p class="title-d">om uw volledig verzorgde barbecue</p>
                </div>
                <div class="row">
                    <div class="col" ng-click="openModal($index);">
                        <div class="vless">
                            <h4 class="pull-right">BBQ Pakketen</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-click="openModal($index);">
                        <div class="satay">
                            <h4 class="pull-right">Group Pakketen</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-click="openModal($index);">
                        <div class="salad">
                            <h4 class="pull-right">Zelf Combineren</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-click="openModal($index);">
                        <div class="salad">
                            <h4 class="pull-right">Drankarrangement</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-click="openModal($index);">
                        <div class="salad">
                            <h4 class="pull-right">Verhuurproducten</h4>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="BBQ Planner" href="#/app/drinken" icon-on="ln-gift balanced" icon-off="ln-gift">
        </ion-tab>
        <ion-tab title="Whatsapp" href="whatsapp://send?abid=+31627890665" icon-on="ln-comments balanced" icon-off="ln-comments">
            <!-- Tab 1 content -->
        </ion-tab>
        <ion-tab title="Winkelwagen" icon-on="ln-cart balanced" icon-off="ln-cart" badge="6">
            <!-- Tab 3 content -->
        </ion-tab>
    </ion-tabs>
</ion-view>
